{% extends 'SIMAOnlineStoreBundle::backend.html.twig' %}
{% block title %}
 Administration des articles
{% endblock %}
{% block content %}
    <h1>Articles list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Reference</th>
                <th>Description</th>
                <th>Manufacturer</th>
                <th>Createdat</th>
                <th>Updateat</th>
                <th>Isdeleted</th>
                <th>Deletedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td><a href="{{ path('article_show', { 'id': article.id }) }}">{{ article.id }}</a></td>
                <td>{{ article.label }}</td>
                <td>{{ article.reference }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.manufacturer }}</td>
                <td>{% if article.createdAt %}{{ article.createdAt|date('Y-m-d') }}{% endif %}</td>
                <td>{% if article.updateAt %}{{ article.updateAt|date('Y-m-d') }}{% endif %}</td>
                <td>{% if article.isDeleted %}Yes{% else %}No{% endif %}</td>
                <td>{% if article.deletedAt %}{{ article.deletedAt|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('article_show', { 'id': article.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('article_edit', { 'id': article.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('article_new') }}">Create a new article</a>
        </li>
    </ul>
{% endblock %}
